*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.page{
    height: 100vh;
    width: 100%;
    background-color: seagreen;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contener{
    height: 50vh;
    width: 45%;
    background: linear-gradient(to top right,red,pink,blue);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.5vmax;
}
.left{
    border: 0.1vmax solid black;
    height: 48vh;
    border-radius: 0.5vmax;
    width: 48%;
    background-color: wheat;
}
.left >h1{
    font-size: 3vmax;
    padding-bottom: 1vmax;
    padding-left: 1vmax;
    border-bottom: 0.2vmax solid rgb(238, 178, 68);
}
.left>ul{
    padding-left: 1vmax;
    list-style: none;
}
.left >ul >li{
    /* border-bottom: 0.2vmax solid black; */
    width: 60%;
    margin: 2vmax 0;
    font-size: 1.8vmax;
    font-family: cursive;
    position: relative;
    padding-bottom: 0.5vmax;
}
.left >ul >li::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 10%;
    border-radius: 0.5vmax;
    width: 100%;
    background-color: black;
    transition: all cubic-bezier(.73,.98,.75,.13) 0.5s;
}
.left >ul >li:hover::after{
    width: 0%;
}
.right{
    border: 0.1vmax solid black;
    height: 48vh;
    border-radius: 0.5vmax;
    width: 48%;
    background-color: wheat;
}
.right >h1{
    /* width: 90%; */
    font-size: 2.6vmax;
    padding: 0.7vmax;
    border-bottom: 0.2vmax solid rgb(238, 178, 68);
        
}

.right >ul{
    padding-left: 1vmax;
    list-style: none;
}
.right >ul >li{
    background-color: black;
    color: white;
    width: 95%;
    margin: 2vmax 0;
    font-size: 1.8vmax;
    font-family: cursive;
    position: relative;
    padding: 0.5vmax;
    font-weight: 700;
}

.right >ul >li:hover{
    background-color: white;
    padding-left: 2vmax;
    color: black;
    font-weight: 700;
    transition: all linear 0.3s;
    /* transform: translateX(1vmax); */
}